<div class="app-container">
  <div>
    <button (click)="loginUser()">Login</button>
    <button (click)="logoutUser()">Logout</button>

  </div>

  <div>
    <button (click)="setOnline()">Set online</button>
    <button (click)="setOffline()">Set offline</button>
  </div>

  <div class="user-status">
    <p>Login Status : {{isLoggedIn ? 'Logged In' : 'Logged out'}}</p>
    <p>Online Status : {{isOnline ? 'Online' : 'Offline'}}</p>
  </div>


  <div class="input-container">
    <label for="messages">Search Messages</label>
    <input id="messages" type="text" #inputElement (input)="searchMessages(inputElement.value)">

    <div>
      <ul>
        <li *ngFor="let message of messages$ | async">
          {{message | json}}
        </li>
      </ul>
    </div>
  </div>

  <div class="input-container">
    <h3>Theme switcher</h3>

    <button (click)="setLightTheme()">Light</button>
    <button (click)="setDarkTheme()">Dark</button>
  </div>
</div>


<router-outlet></router-outlet>
